*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: green;
    padding: 40px;
}
.main{
    background-color: white;
     border-radius: 25px;
     padding: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}
.nav-links{
    display: flex;
    align-items: center;
}
.logo{
    color: rgb(197, 83, 12);
}
.nav-links p{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.nav-btn{
    background-color: black ;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.hero{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.hero-text h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
    /* margin-bottom: 20px; */
    /* padding: 80px; */
    /* background-color: aqua; */
}
.hero-text p{
    color: green;
    font-size: 2rem;
    margin-bottom: 20px;
    /* max-width: 300px; */
}
.order-btn{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 12px;
    /* margin: 12px; */
    border-radius: 70px;
    cursor: pointer;
}
.hero-img{
    flex: 1;
    width: 50%;
}
.hero-img img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}
.product{
    text-align: center;
    margin-bottom: 40px;
}
.product h2{
    margin-bottom: 20px;
    font-size: 2rem;
}
.Product-grid{
     
    display: grid;
    /* display: flex; */
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.product-card{
    background: white;
    padding: 15px;
    border-radius: 15px;
}
.product-card img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product-card span{
    color: green;
    font-weight: bold;
}
.footer{
    background-color: beige;
    color: black;
    margin-top: 50px;
    border-radius: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-box{
    width: 30%;
    margin-bottom: 15px;
}
 
.footer-box p{
    font-size: 14px;
    line-height: 1.5;
}
.footer-box a{
    display:block;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 8px;
}
.footer-box a:hover{
    text-decoration: underline;
}